* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-track {
    background: #c6c6c6;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffd65b;
    border-radius: 20px;
    display: none;
  }

  // overflow-x: hidden;
}

body {
  background: linear-gradient(
    145deg,
    #f2d34799,
    #97d48f99,
    #4749f499,
    #04047c99
  );
  min-height: 100vh;

  color: #fff;

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }
}
